<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="docent.namsanhanok">

    <!-- 서버에서 가져오기 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- SDK권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- 진동 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 파일 읽고/쓰기 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDqI8Nb1EO3PuTxKgY03Ki9SS5HseNxURQ" />

        <activity
            android:name=".Home.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Docent.DocentPopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".Question.QuestionWriteDoneActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Docent.DocentActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Category.CategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Category.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.SetLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Event.EventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Question.QuestionWriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notice.NoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notice.NoticeReadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info.InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Location.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.HomeActivity"
            android:screenOrientation="portrait" />

        <!-- 서비스와 리시버 -->
        <service android:name="com.minew.beacon.ScanService" />

        <receiver android:name="com.minew.beacon.BluetoothChangedReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name = ".ShowWiFiMonitor">
            <intent-filter>
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>